<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>It's Aminuwko</title>
</head>
<body>
    <h1>Just do it</h1>
    <p>Hi there!</p>
        <p>It works!</p>
</body>
</html> -->

<html>
    <head>
        <title>Блог Амины Ашимовы</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Блог Амины Ашимовы</a></h1>
        </div>

        <div>
            <p>дата выхода: 04.04.2023, 12:14</p>
            <h2><a href="">Введение в ОПП</a></h2>
            <p>
                Топ вопросов по ООП с собеседований. Часть 1
                ООП
                ООП является одной из основных концепций в мире программирования, поэтому каждое интервью, которое вы проходите, требует знаний ООП. В этой статье собраны наиболее часто задаваемые вопросы по ООП для новичков. Так что присаживайтесь и готовьтесь.
                
                </p>
        </div>

        <div>
            <p>дата выхода: 04.04.2023, 12:14</p>
            <h2><a href="">Зачем использовать ООП?</a></h2>
            <p>ООП обеспечивает ясность в программировании и, следовательно, простоту в решении сложных задач.</p>
        </div>
    </body>
</html>
